server:
  port: 8083
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pmip
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  kafka:
    bootstrap-servers: localhost:9092
app:
  topics:
    project: project-events
