server:
  port: 8084
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pmip
    username: postgres
    password: 123456
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
  kafka:
    bootstrap-servers: localhost:9092
app:
  topics:
    task: task-events
