server:
  port: 8085
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pmip
    username: postgres
    password: 123456
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
