server:
  port: 8086
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/pmip
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
ai:
  url: http://localhost:8000
